In [27]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split



from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor

import warnings
import joblib as jb

In [28]:
def rmsle(y_true, y_pred):
    return 1 - np.sqrt(np.square(np.log10(y_pred +1) - np.log10(y_true +1)).mean())

In [29]:
train  = pd.read_csv("train_preprocessed_2.csv")
test = pd.read_csv("test_preprocessed_2.csv")

In [30]:
train

,addr_state,annual_inc,emp_length,emp_title,fico_range_high,fico_range_low,grade,home_ownership,application_type,initial_list_status,...,pub_rec_bankruptcies,purpose,revol_bal,revol_util,sub_grade,term,title,total_acc,verification_status,loan_status
0,2096,85000.0,10,230,744.0,740.0,6690,47301,93043,58294,...,0.0,55495,5338.0,93.6,1715,60,49089,8.0,37250,0
1,13712,40000.0,10,1716,724.0,720.0,27693,37194,93043,58294,...,0.0,55495,19944.0,60.3,5058,36,147,12.0,29304,1
2,6600,60000.0,10,33906,679.0,675.0,27693,47301,93043,58294,...,0.0,55495,23199.0,88.5,5827,36,49089,16.0,37250,1
3,3697,100742.0,10,3189,664.0,660.0,27693,47301,93043,58294,...,0.0,55495,18425.0,69.0,5335,36,49089,19.0,37250,1
4,2167,80000.0,10,33906,669.0,665.0,2218,37194,93043,36690,...,0.0,55495,34370.0,90.0,293,60,3680,59.0,29304,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76001,1202,81000.0,10,33906,664.0,660.0,628,47301,93043,58294,...,0.0,55495,20201.0,93.5,104,60,49089,42.0,29304,0
76002,428,45000.0,10,693,684.0,680.0,27212,47301,93043,58294,...,0.0,55495,6145.0,56.9,6010,36,49089,14.0,28430,1
76003,7621,90000.0,1,1715,724.0,720.0,27693,10462,93043,58294,...,0.0,55495,3910.0,25.6,5858,36,49089,26.0,37250,1
76004,7877,94000.0,3,800,669.0,665.0,14279,47301,93043,58294,...,1.0,21040,11897.0,49.4,2165,60,18415,48.0,37250,1
76005,7621,1100000.0,2,364,664.0,660.0,27693,47301,93043,58294,...,0.0,55495,586259.0,96.7,5858,36,49089,32.0,37250,1

In [31]:
X = train.drop(columns = "loan_status")

In [32]:
y = train["loan_status"]

In [33]:
train_X, test_X, train_y, test_y = train_test_split(X,y,test_size = 0.2,random_state=32)

In [34]:
def model(model, train_X, train_y, test_X, test_y, X, y, test, filename ):
    model.fit(train_X, train_y)
    train_pred = model.predict(train_X)
    test_pred = model.predict(test_X)
    print("TRAIN RMSLE : ",rmsle(train_y, train_pred))
    print("TEST RMSLE : ",rmsle(test_y, test_pred))
    model.fit(X, y)
    pred = model.predict(test)
    result = pd.DataFrame(pred,columns = ['loan_status'])
    result.to_csv(filename, index = False)

In [35]:
linear_reg = LinearRegression()
model(linear_reg, train_X, train_y, test_X, test_y, X, y, test, "linear_reg.csv" )

TRAIN RMSLE :  0.8831088374169952
TEST RMSLE :  0.884290560914869

In [36]:
decision_tree = DecisionTreeRegressor()
model(decision_tree, train_X, train_y, test_X, test_y, X, y, test, "decision_tree.csv" )

TRAIN RMSLE :  1.0
TEST RMSLE :  0.8348409347861989

In [32]:
random_forest = RandomForestRegressor()
model(random_forest, train_X, train_y, test_X, test_y, X, y, test, "random_forest.csv" )

TRAIN RMSLE :  0.9504658960201471
TEST RMSLE :  0.883950096513489

In [37]:
jb.dump(model,'model.pkl')

['model.pkl']

In [38]:
model1 = jb.load('model.pkl')

In [39]:
test = pd.read_csv('test_preprocessed_2.csv')

In [45]:
model.predict(test)

AttributeError: 'function' object has no attribute 'predict'